/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-color: white;
  --second-color: #212529;
}
.main-title h2 {
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  position: relative;
  z-index: 1;
  margin-top: 50px;
}
.main-title h2::before {
  content: "";
  width: 250px;
  height: 40px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  z-index: -1;
}
/*//////////////////////////////// header/////////////////////// */

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))),
    url(../imgs/bg.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../imgs/bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../imgs/bg.jpg);
  background-position: center center;
  background-size: cover;
}

header .social ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
header .social ul li a {
  color: var(--main-color);
  text-decoration: none;
}
header .social .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  font-size: 15px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.479);
}

.nav-item .nav-link {
  color: var(--second-color);
  font-size: 14px;
}
.navbar-toggler {
  border: none;
}

@media (max-width: 767px) {
  .navbar .navbar-collapse {
    text-align: center;
    border: none;
    border-top: 1px solid rgba(12, 12, 12, 0.04);
    background: #fff;
    margin-top: 5px;
    padding-bottom: 15px;
  }
}
@media (max-width: 992px) {
  .navbar .navbar-collapse {
    text-align: center;
    border: none;
    border-top: 1px solid rgba(12, 12, 12, 0.04);
    background: #fff;
    margin-top: 5px;

    padding-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .nav-item .nav-link {
    color: black;
  }
}
@media (max-width: 992px) {
  .nav-item .nav-link {
    color: black;
  }
}
.nav-link.active::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--second-color);
  bottom: 5px;
  left: 10%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.nav-link.active::before {
  width: 80%;
}
@media (max-width: 768px) {
  .nav-link.active::before {
    display: none;
  }
}
@media (max-width: 992px) {
  .nav-link.active::before {
    display: none;
  }
}
h1::after {
  content: " |";
  -webkit-animation-name: typing;
          animation-name: typing;
  -webkit-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes typing {
  0% {
    content: " D|";
  }

  1.5% {
    content: " De |";
  }

  3% {
    content: " Dev|";
  }

  4.5% {
    content: "Deve|";
  }

  6% {
    content: " Devel|";
  }

  7.5% {
    content: " Develo|";
  }

  9% {
    content: " Develop|";
  }

  10.5% {
    content: " Develope|";
  }

  12% {
    content: " Developer|";
  }

  13.5% {
    content: " Develope|";
  }

  15% {
    content: " Develop|";
  }

  16.5% {
    content: " Develo|";
  }

  18% {
    content: " Devel|";
  }

  19.5% {
    content: " Deve|";
  }

  21% {
    content: " Dev|";
  }

  22.5% {
    content: " De|";
  }

  24% {
    content: " D|";
  }

  25.5% {
    content: " |";
  }

  27% {
    content: "  D|";
  }

  28.5% {
    content: " De|";
  }

  30% {
    content: " Des|";
  }

  31.5% {
    content: "  Desi|";
  }

  33% {
    content: " Design|";
  }

  34.5% {
    content: "  Designe|";
  }

  36% {
    content: "  Designer|";
  }

  37.5% {
    content: " Designe|";
  }

  39% {
    content: "  Design|";
  }

  40.5% {
    content: "  Desig|";
  }

  42% {
    content: "  Desi|";
  }

  43.5% {
    content: " Des|";
  }

  45% {
    content: " De|";
  }

  46.5% {
    content: " D|";
  }

  48% {
    content: " |";
  }

  49.5% {
    content: " L|";
  }

  51% {
    content: " La|";
  }

  52.5% {
    content: " Lar |";
  }

  54% {
    content: " Larr|";
  }

  55.5% {
    content: " Larry|";
  }

  57% {
    content: " Larry D|";
  }

  58.5% {
    content: " Larry Da|";
  }

  60% {
    content: " Larry Dan|";
  }

  61.5% {
    content: " Larry Dani|";
  }

  63% {
    content: "  Larry Danil |";
  }

  64.5% {
    content: " Larry Dani|";
  }

  66% {
    content: " Larry Dan|";
  }

  67.5% {
    content: " Larry Da |";
  }

  69% {
    content: "  Larry D|";
  }

  70.5% {
    content: "  Larry |";
  }
}
@keyframes typing {
  0% {
    content: " D|";
  }

  1.5% {
    content: " De |";
  }

  3% {
    content: " Dev|";
  }

  4.5% {
    content: "Deve|";
  }

  6% {
    content: " Devel|";
  }

  7.5% {
    content: " Develo|";
  }

  9% {
    content: " Develop|";
  }

  10.5% {
    content: " Develope|";
  }

  12% {
    content: " Developer|";
  }

  13.5% {
    content: " Develope|";
  }

  15% {
    content: " Develop|";
  }

  16.5% {
    content: " Develo|";
  }

  18% {
    content: " Devel|";
  }

  19.5% {
    content: " Deve|";
  }

  21% {
    content: " Dev|";
  }

  22.5% {
    content: " De|";
  }

  24% {
    content: " D|";
  }

  25.5% {
    content: " |";
  }

  27% {
    content: "  D|";
  }

  28.5% {
    content: " De|";
  }

  30% {
    content: " Des|";
  }

  31.5% {
    content: "  Desi|";
  }

  33% {
    content: " Design|";
  }

  34.5% {
    content: "  Designe|";
  }

  36% {
    content: "  Designer|";
  }

  37.5% {
    content: " Designe|";
  }

  39% {
    content: "  Design|";
  }

  40.5% {
    content: "  Desig|";
  }

  42% {
    content: "  Desi|";
  }

  43.5% {
    content: " Des|";
  }

  45% {
    content: " De|";
  }

  46.5% {
    content: " D|";
  }

  48% {
    content: " |";
  }

  49.5% {
    content: " L|";
  }

  51% {
    content: " La|";
  }

  52.5% {
    content: " Lar |";
  }

  54% {
    content: " Larr|";
  }

  55.5% {
    content: " Larry|";
  }

  57% {
    content: " Larry D|";
  }

  58.5% {
    content: " Larry Da|";
  }

  60% {
    content: " Larry Dan|";
  }

  61.5% {
    content: " Larry Dani|";
  }

  63% {
    content: "  Larry Danil |";
  }

  64.5% {
    content: " Larry Dani|";
  }

  66% {
    content: " Larry Dan|";
  }

  67.5% {
    content: " Larry Da |";
  }

  69% {
    content: "  Larry D|";
  }

  70.5% {
    content: "  Larry |";
  }
}

/* ////////////////start about//////////////// */
.progress-bar::after {
  content: attr(data-value);
  position: absolute;
  right: 10px;
  top: 0px;
}
.img::after {
  content: "";
  width: 80%;
  height: 80%;
  position: absolute;
  left: -30px;
  bottom: -30px;
  background-image: url(../imgs/dots.png);
  background-repeat: repeat;
  z-index: -1;
}
.about .btn {
  font-size: 12px;
}

.about button.bt1:hover {
  background-color: transparent !important;
  color: black !important;
  border: 1px solid black;
}
.about button.bt2:hover {
  background-color: #212529 !important;
  color: white !important;
}
@media(max-width:992px){
  .about h2{
    padding-top: 20px;
  }
}
/* //////////end about//////////////// */

/* ///////////////start services/////////////////// */

.services .icon {
  background-color: #f4f4f4;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  font-size: 25px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.services .col:hover .icon {
  background-color: #212529;
  color: #fff;
}

/* //////////////end services////////////// */

/* //////////////start works/////////////// */

.work .nav-tabs {
  --bs-nav-tabs-border-width: none;
}
.work .nav-tabs .nav-link,
.work .nav-tabs .nav-link.active {
  color: var(--second-color);
  font-weight: 700;
}
.work .nav-tabs .nav-link {
  position: relative;
}
.work .nav-link.active::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  background-color: var(--second-color);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  top: 40px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.work .nav-link.active::before {
  width: 60%;
}

.work .items .layer {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: rgba(255, 255, 255, 0.95);
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2;
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
}
.work .items:hover .layer {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.work .items .icon i {
  width: 30px;
  height: 30px;
  background-color: var(--second-color);
  border-radius: 50%;

  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3px;
}

.work .items .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/* //////////////end works/////////////// */
/* ////////////////////////start client ///////////////////*/
.client img {
  width: 100px;
}
.client span {
  font-size: 14px;
}
.client .title {
  width: 800px;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 50%;

  border-top-width: 1px;
  border-bottom-width: 1px;
}
.carousel-indicators [data-bs-target].active {
  background: gray;
}
/*//////////////////////////// end client //////////////////////////*/

/* //////////////start team////////////// */
.team img {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.team .card-body {
  background-color: #5a5a5a;
  color: var(--main-color);
}
.team .card .layer {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 105px;
  background: rgba(255, 255, 255, 0.95);
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotateY(180deg) scale(0.5, 0.5);
          transform: rotateY(180deg) scale(0.5, 0.5);
}
.team .card:hover .layer {
  opacity: 1;
  -webkit-transform: rotateY(0deg) scale(1, 1);
          transform: rotateY(0deg) scale(1, 1);
}
.team .card:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.team .social li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 5px;
  font-size: 20px;
}
.team .social {
  width: 250px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.team .social ul li a {
  color: var(--main-color);
  text-decoration: none;
}
.team .social .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  margin: auto;
  padding: 15px;
  border-radius: 50%;
  background-color: var(--second-color);
}
.team .social .icon:hover {
  border: 1px solid var(--second-color);
  background-color: var(--main-color);
  color: var(--second-color);
}
/* ///////////////end team///////////////// */

/* //////////////start contact//////////// */
.contact .icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #d6d6d6;
  border-radius: 50%;
  margin-bottom: 15px;
  font-size: 25px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.contact .box:hover .icon {
  background-color: var(--second-color);
  color: var(--main-color);
}

.contact form input[type="text"],
.contact form input[type="email"],
.contact form textarea {
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  background: #f4f4f4;
}
@media (max-width: 768px) {
  .contact form input[type="text"],
  .contact form input[type="email"] {
    margin-top: 20px;
  }
}

.contact form button {
  display: block;
  background-color: var(--second-color);
  color: var(--main-color);
}

/* //////////////end contact//////////// */

/* //////////////fooooooooooooter///////////// */

.footer {
  background: #1c1c1c;
  padding: 30px;
}
.footer p {
  font-size: 13px;
  word-spacing: 2px;
}